<div [class]="shareDataService.darkMode ? 'bg-slate-800 ' :''" class="m-4 p-4 h-[88vh] rounded-md relative overflow-hidden">
  <p class="invisible">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia assumenda qui
    adipisci nobis maxime deserunt quos odio corrupti eaque incidunt, voluptatem
    ullam ducimus laborum rem molestiae aspernatur enim iste optio.</p>
  <p class="font-bold absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] z-10 text-5xl tracking-widest text-red-600 sh">Comeing Soon
    <span class="animate-bounce w-6 h-6 inline-block">.</span><span class="animate-bounce w-6 h-12 inline-block">.</span><span class="animate-bounce w-6 h-20 inline-block">.</span>
   </p>
  <div class="bg w-full h-full blur-sm ">
  </div>
</div>
