$mColor-1:#a9d6e5;
$mColor-2:#89c2d9;
$mColor-3:#61a5c2;
$mColor-4:#468faf;
$mColor-5:#2c7da0;
$mColor-6:#2a6f97;
$mColor-7:#014f86;
$mColor-8:#01497c;
$mColor-9:#013a63;
$mColor-10:#012a4a;
$mColor-11:#07beb8;
$mColor-12:#3dccc7;
$mColor-13:#68d8d6;
$mColor-14:cornflowerblue;
$mColor-15:deepskyblue;
$mColor-16:darkmagenta;
$mColorLG-17:linear-gradient(45deg,#07beb8,#3dccc7,#68d8d6);
$mColorLG-18:linear-gradient(45deg,deepskyblue,cornflowerblue,deepskyblue);
$mColorLG-19:linear-gradient(45deg,#8E2DE2,#4A00E0);
$mColorLG-20:linear-gradient(45deg,#fc00ff,#00dbde) ;
